#timerBlock h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#timerBlock li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#timerBlock li span {
    display: block;
    font-size: 4.5rem;
}

#timerBlock .emoji {
    display: none;
    padding: 1rem;
}

#timerBlock .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    #timerBlock h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    #timerBlock li {
        font-size: calc(1.125rem * var(--smaller));
    }

    #timerBlock li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}